@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.heading-container {
  height: 60vh;
  position: relative;
  border-radius: 1vh;
  
  // Background styling
  background-color: #234356;
  background-image: url('/assets/images/paint-mark.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav {
  position: absolute;
  top: 20px;
  right: 20px;
  
  button {
    border-radius: 50vh;
    margin-left: 15px;
    padding: 10px 20px;
    background: transparent;
    border: none;
    color: white;
    background-color: rgba(12, 141, 182);
    cursor: pointer;
    
    &:hover {
      background: white;
      color: #2c3e50;
    }
  }
}

.heading-content {
  position: absolute;
  width: 75%;
  font-family: 'Dancing Script', cursive;;
}

.heading-primary {
  width: 100%;
  font-size: 8rem;
  margin: 0;
  color: rgba(255,255,255,0.9);
}

.heading-sub {
  width: 100%;
  font-size: 2rem;
  line-height: 1.1;
  margin: 0 12rem;
  color: rgba(255,255,255,0.9);
}

.social-icons {
  background: transparent;
  border: 1px solid white;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.5rem;
  
  i {
    margin-left: 15px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
    
    &:hover {
      transform: scale(1.2);
      background: white;
      color: #2c3e50;
    }
  }
}