name: Deploy Angular to GitHub Pages

on:
  push:
    branches: [ master, main ]   # Runs on master or main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write     # Needed to push to gh-pages

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build Angular app
        run: |
          npm run build -- --output-path dist/art-gallery --base-href /art-gallery/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist/art-gallery
          publish_branch: gh-pages
